<!DOCTYPE html>
{% load staticfiles %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Blog PROTECO</title>
    <link rel="stylesheet" href="{% static 'css/materialize.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Logo</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Iniciar Sesión</a></li>
        <li><a href="#">Regístrarse</a></li>
        <li><a href="#">¿Qué puedo hacer aquí?</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
      <li><a href="#">Iniciar Sesión</a></li>
      <li><a href="#">Regístrarse</a></li>
      <li><a href="#">¿Qué puedo hacer aquí?</a></li>

  </ul>


{% block content %}

{% endblock %}




</body>
<script src="{%  static 'js/jquery-3.3.1.min.js'%}"></script>
<script src="{% static 'js/materialize.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>


</html>