{% extends 'blog/base.html' %}

{% block content %}
	<div class="container">
		<h1>Tarea Django</h1>
		<p>1.-¿Qué es Python</p>
		<p>2.-¿Quién creó Python?</p>
		<p>3.-¿Qué es el Zen de Pyhton?</p>
		<p>4.-Diferencias entre diseño y desarrollo web.</p>
		<p>5.-¿Qué es un framework?</p>
		<p>6.-¿Qué es un servidor?</p>
		<p>7.-¿Qué es Django?</p>
		<p>8.-Investiga el MTV(Model Template View)</p>
		<p>9.-Tabla comparativa entre MVC Y MTV</p>
		<p>10.-¿Qué es pythonanywhere?</p>
		<p>11.-¿Qué es Heroku?</p>
		<p>12.-¿Qué es una expresión regular?</p>
		<p>13.-Elabora una expresión regular que valide un correo.</p>
		<p>14.-Estructura de carpetas de un proyecto en django</p>
		<p>15.-¿Qué es sqlite3?</p>
		<p>16.-¿Qué es un ORM?</p>
		<p>17.-Investiga 3 ORM</p>
		<p>18.-Tipos de datos del ORM de Django</p>
		<p>19.-¿Qué es PostgreSQL?</p>
		<p>20.-¿Qué es MySQL?</p>
		<p>21.-Breve historia de Django</p>
		<p>22.-Creadores de Django</p>
		<p>23.-Fecha de creación de Django</p>
		<p>24.-¿En qué generación del desarrollo web nos encontramos?</p>
		<p>25.-Curva de aprendizaje de Django</p>
		<p>26.-¿Qué son los archivos estáticos de Django?</p>
		<p>27.-Realizar los siguientes programas: 5 primeros con funciones, hacer un paquete con menú para ver todos los programas. 5 últimos con POO hacer un paquete con menú para ver todos los programas. </p>
		<a href="https://codeshare.io/tareaPrebebes36">Programas</a>		
	</div>
	<h3>La tarea es escrita a mano. En hojas blancas y con letra legible. Importante que esté completa. El viernes se tendrá sólo 10 minutos de tolerancia, de lo contrario no se podrá entrar.</h3>

{% endblock  %}